@charset "utf-8";

h2 label {
    display: inline-block;
    min-width: 4rem;
}

h2 label::after {
    content: ":";
}

table {
    width: 100%;
}

table tr th {
    text-align: left;
}

table tr {
    line-height: 2;
}

table td,
table th {
    padding: 0 .5rem
}

table thead tr,
table tfoot tr {
    line-height: 2.5;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    color: var(--vscode-tab-activeForeground);
}

table thead tr th {
    cursor: pointer;
}

/* 排序的箭头默认情况下与背景色相同，
 * 只有设置了其 data-asc 为 true 或是 false 时，
 * 才会修改成与前景色相同。
 *
 * 排序箭头一直存在，可以解决每一次更换排序列时，
 * 会重新调整列宽度的问题。
 */
table thead tr th::after {
    content: '\20\25b2';
    color: var(--vscode-editorGroupHeader-tabsBackground);
}
table thead tr th[data-asc=true]::after {
    content: '\20\25b2';
    color: var(--vscode-tab-activeForeground);
}
table thead tr th[data-asc=false]::after {
    content: '\20\25bc';
    color: var(--vscode-tab-activeForeground);
}

table tbody tr:nth-child(even) {
    background-color: var(--vscode-editor-lineHighlightBorder);
}

table tbody tr:hover {
    background-color: var(--vscode-editor-selectionBackground);
    color: var(--vscode-editor-selectionForeground);
}

.no-data {
    display: none;
    text-align: center;
    font-size: larger;
    color: var(--vscode-editorWarning-foreground);
    line-height: 5;
}
