@charset "utf-8";

h2 label {
    display: inline-block;
    min-width: 4rem;
}

h2 label::after {
    content: ":";
}

table {
    width: 100%;
}

table tr th {
    text-align: left;
}

table tr {
    line-height: 2;
}

table td,
table th {
    padding: 0 .5rem
}

table thead tr,
table tfoot tr {
    line-height: 2.5;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    color: var(--vscode-tab-activeForeground);
}

table thead tr th[data-asc=true]::after {
    content: ' \25b2';
}

table thead tr th[data-asc=false]::after {
    content: ' \25bc';
}

table tbody tr:nth-child(even) {
    background-color: var(--vscode-editor-lineHighlightBorder);
}

table tbody tr:hover {
    background-color: var(--vscode-editor-selectionBackground);
    color: var(--vscode-editor-selectionForeground);
}

.no-data {
    display: none;
    text-align: center;
    font-size: larger;
    color: var(--vscode-editorWarning-foreground);
    line-height: 5;
}
